@import url("../style.css");
@import url("../index.css");

#textSection{
    background-color: #aa9786;
    border-radius: 10px;
    margin: 5% 10% 5% 10%;
    padding: 10%;
}

body{
    background-image: unset;
    background-image: url("../assets/img/undersidebackground.png");
    background-size: cover;
}

.readMore{
    text-decoration: none;
    color: black;
    font-family: ashemoreLight;
    background-color: #7e9472;
    font-size: 20px;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 30vw;
    margin: 2%;
}

#aContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}