@import url("style.css");

#brownBox{
    background-color: #7E766F;
    border-radius: 0 10px 10px 0;
    margin-top: 15%;
    padding-top: 7%;
    padding-bottom: 7%;
    position: relative;
    z-index: 1;
    height: 35vw;
    width: 90vw;
}

#frontText{
    z-index: 4; 
    width: 50%;
    position: absolute;
    left: 35%;
    top: 36%;
}

#lightBrownCircle{
    background-color: #AA9786;
    border-radius: 50%;
    padding: 5%;
    width: 35vw;
    height: 35vw;
    position: absolute;
    right: 8%;
    bottom: 5%;
    z-index: 2;

}

#greyPhotoBox{
    position: relative;
    background-color: #D7D7D7;
    border-radius: 0 10px 10px 0;
    z-index: 3;
    width: 50vw;
    height: 70vw;
    
}

#ditte{
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 90%;
}

#branch{
    position: relative;
    left: 35vw;
    width: 55%;
    margin-top: 5%;
    margin-bottom: -1.1vw;
}

.aboutMeContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.aboutText{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.aboutIcons{
    width: 25vw;
    height: 25vw;
    margin: 5%
}

.categoryHeadlines{
    text-align: center;
    font-family: bely;
    font-size: 35px;
}

#whoAmI{
    text-align: center;
    padding: 3%;
}

h3{
    margin: 0%;
    font-family: ashemoreLight;
    font-size: 25px;
}

p{
    font-family: ashemoreLight; 
    padding: 0 7% 7% 7%;
    margin: 0;
    font-size: 20px;
    text-align: justify;
}

#whoContainer{
    margin: 10%;
    background-color: #7e9472;
    border-radius: 10px;
}

#skillsBox{
    background-color: #aa9786;
    border-radius: 10px;
    margin: 10%;

}

.skillsHeadline{
    text-align: center;
    padding-top: 5%;
}

.projectPhoto{
    width: 30vw;
    height: 30vw;
    background-color: #a5b2c2;
    border-radius: 50%;
    padding: 5%;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    margin: 5%;
}

#trækunst{
    width: 30vw;
    height: fit-content;
}

.readMore{
    text-decoration: none;
    color: black;
    font-family: ashemoreLight;
    background-color: #7e9472;
    font-size: 20px;
    padding: 3%;
    border-radius: 10px;
}

#firstContainer{
    background-color: #d7d7d7;
    padding: 10% 0 10% 0;
    
}
