@import url("style.css");

#brownBox{
    background-color: #7E766F;
    border-radius: 0 10px 10px 0;
    margin-top: 30%;
    padding-top: 7%;
    padding-bottom: 7%;
    position: relative;
    z-index: 1;
    height: 35vw;
    width: 90vw;
    scroll-margin-top: 125px;
}

#frontText{
    z-index: 4; 
    width: 50%;
    position: absolute;
    left: 35%;
    top: 36%;
}

#lightBrownCircle{
    background-color: #AA9786;
    border-radius: 50%;
    padding: 5%;
    width: 35vw;
    height: 35vw;
    position: absolute;
    right: 8%;
    bottom: 5%;
    z-index: 2;

}

#greyPhotoBox{
    position: relative;
    background-color: #D7D7D7;
    border-radius: 0 10px 10px 0;
    z-index: 3;
    width: 50vw;
    height: 70vw;
    
}

#ditte{
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 90%;
}

#branch{
    position: relative;
    left: 35vw;
    width: 55%;
    margin-top: 5%;
    margin-bottom: -1.1vw;
}

.aboutMeContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.aboutText{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.aboutTextLeft{
    align-items: flex-end;
}

.aboutIcons{
    width: 25vw;
    height: 25vw;
    margin: 7%
}

.categoryHeadlines{
    text-align: center;
    font-family: bely;
    font-size: 35px;
}

#whoAmI{
    text-align: center;
    padding: 3%;
}

h3{
    margin: 0%;
    font-family: ashemoreLight;
    font-size: 20px;
}

p{
    font-family: ashemoreLight; 
    padding: 0 7% 7% 7%;
    margin: 0;
    font-size: 20px;
    text-align: justify;
}

#whoContainer{
    margin: 10%;
    background-color: #7e9472;
    border-radius: 10px;
}

#skillsBox{
    background-color: #aa9786;
    border-radius: 10px;
    margin: 10%;
    scroll-margin-top: 170px;
}

.skillsHeadline{
    text-align: center;
    padding-top: 5%;
}

.projectTextRight{
    font-size: 15px;
    margin: 5% 10% 5% 2.5%;
}

.projectImageRight{
    width: 40vw;
    height: 40vw;
    margin: 5% 10% 5% 2.5%;
}

.projectTextLeft{
    font-size: 15px;
    margin: 5% 2.5% 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.projectTextLeft h3{
    font-size: 20px;
    font-weight: bold;
}

.projectTextRight h3{
    font-size: 20px;
    font-weight: bold;
}

.projectTextLeft p{
    font-size: 20px;
    text-align: unset;
    padding: 0;
}

.projectTextRight p{
    font-size: 20px;
    text-align: unset;
    padding: 0;
}

.projectImageLeft{
    width: 40vw;
    height: 40vw;
    margin: 5% 2.5% 5% 10%;
}

.containerProjects{
    display: flex;
    align-items: center;
    transform: skew(0deg, 10deg);
}

.readMore{
    text-decoration: none;
    color: black;
    font-family: ashemoreLight;
    background-color: #7e9472;
    font-size: 20px;
    padding: 3%;
    border-radius: 10px;
    display: block;
    text-align: center;
    width: 60%;
}

#firstContainer{
    padding: 10% 0 10% 0;
    margin-top: 50%;
    background: #D7D7D7;
    transform: skew(0deg, -10deg) translateY(-120px); /*Inspired from: https://www.youtube.com/watch?v=v2Jw9pa6sFo*/
}

#secondContainer{
    padding: 10% 0 10% 0;
    margin-top: 20%;
    background: #D7D7D7;
    transform: skew(0deg, -10deg) translateY(-120px);
}

.contactTextLeft{
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 50%;
}

.contactTextLeft h3{
    font-size: 20px;
}

.contactTextRight h3{
    font-size: 20px; 
}

.contactTextRight{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutMeIcon{
    width: 20vw;
    height: 20vw;
    margin: 5%;
}

#aboutMe{
    scroll-margin-top: 100px;
}

#myProjects{
    scroll-margin-top: 85px;
}

#contact{
    scroll-margin-top: 85px;
}