@font-face {
    font-family: ashemore;
    src: url(assets/fonts/ashemore.ttf);
}
@font-face {
    font-family: ashemoreLight;
    src: url(assets/fonts/ashemoreLight.ttf);
}
@font-face {
    font-family: bely;
    src: url(assets/fonts/bely.ttf);
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    background-image: url("assets/img/mobileBackground.png");
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hideLinks{
    display: none;
}

.showLinks{
    display: flex;
    flex-direction: column;
    background-color: #a5b2c2;
    width: 100%;
    font-family: bely;
    padding-bottom: 10%;
}

.showLinks a{
    text-decoration: none;
    color: black;
    font-size: 35px;
    text-align: right;
    margin-right: 10%;
    margin-left: 10%;
    border-bottom: 3px solid #d7d7d7;
    margin-top: 5%;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.headerShowMenu{
    background-color: #a5b2c2;
    padding: unset;
}

#headerIcons{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

#logo{
    width: 60%;
}

.sectionSeparator{
    background-color: #49533a;
    border: none;
    height: 4vw;
    width: 90vw;
    border-radius: 10px;
    margin-top: 0;
    margin-block-start: 0;    
    margin-block-end: 0;
    line-height: 0;
}

#lastSectionSeparator{
    margin-bottom: 10%;
}


footer{
    background-color: #a5b2c2;
    display: flex;
    align-items: center;
    padding: 3%;
    margin-top: auto;
}

footer p{
    padding: 0%;
    font-family: ashemoreLight;
}

#cpLogo{
    width: 15px;
}

@media screen and (min-width: 992px) {
    body {
        margin: 0%;
        background-image: url("assets/img/desktopBackground.png");
        background-size: contain;
        background-repeat: repeat;
    }

    .burger{
        display: none;
    }

    header{
        flex-direction: row;
        width: 100%;
    }

    #headerIcons{
        width: 30%;
        padding: 1%;
    }

    .hideLinks{
        display: flex;
        width: 70%;
        justify-content: space-around;
        align-items: center;
    }

    .hideLinks a{
        text-decoration: none;
        color: black;
        font-family: bely;
        font-size: 35px;
    }

    #aLogo{
        width: 80%;
        margin-left: 5%;
    }
    #logo{
        width: 70%;
    }

    .sectionSeparator{
        background-color: #49533a;
        border: none;
        height: 1vw;
        width: 90vw;
        border-radius: 10px;
        margin-top: 0;
        margin-block-start: 0;    
        margin-block-end: 0;
        line-height: 0;
    }
    
    footer{
        padding: 1%;
    }

    #lastSectionSeparator{
        margin-bottom: 5%;
    }
}

/* Har lavet en styling til nav linksene, så de så ordentlige ud her også */
@media screen and (max-width: 1300px) {
    .hideLinks a{
        font-size: 25px;
    }
}