@import url("../style.css");
@import url("../index.css");

#textSection{
    background-color: #aa9786;
    border-radius: 10px;
    margin: 5% 10% 5% 10%;
    padding: 10%;
}

#videoTextSection{
    margin-top: 20%;
}

#videoSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../assets/img/woodlight.png");
    background-size: cover;
    border-radius: 10px;
    margin: 10%;
    padding: 5%;
}

footer{
    margin-top: 20%;
}

body{
    background-image: url("../assets/img/undersidebackground.png");
    background-size: cover;
}

@media screen and (max-width: 410px){
   #youtubeVideo{
       width: 220px;
       height: 200px;
   } 
}