@import url("../style.css");
@import url("../index.css");

#textSection{
    background-color: #aa9786;
    border-radius: 10px;
    margin: 5% 10% 5% 10%;
    padding: 10%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.3);
}

#textSection h3{
    text-align: center;
    padding-bottom: 30px;
}

body{
    background-image: url("../assets/img/undersidebackground.png");
    background-size: cover;
}

#toucanThiefSection{
    margin-top: 20%;
}

.readMore{
    text-decoration: none;
    color: black;
    font-family: ashemoreLight;
    background-color: #7e9472;
    font-size: 20px;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 30vw;
    margin: 2% auto;
}

.slideShowSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../assets/img/woodlight.png");
    background-size: cover;
    border-radius: 10px;
    margin: 5%;
    padding: 5%;
    text-align: center;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.3);
}

.slideShow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.toucanImage{
    width: 100%;
    margin: 5% 5% 0 5%;
    object-fit: contain;
    display: none;
}
.imageActive{
    display:block;
}

.arrow{
    font-size: 2.5rem;
}

.arrow:hover{
    cursor: pointer;
}

.dots{
    margin-top: 1rem;
}

.dot{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #7E9472;
    border-radius: 50%;
    margin: 0 0.5rem 0 0.5rem;
}

.dotActive{
    background-color: #49533A;
}

@media screen and (min-width: 992px){
    body{
        background-image: url("../assets/img/desktopunderside.png");
    }

    #toucanThiefSection{
        margin-top: 10%;
    }

    #mainContent{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .readMore{
        display: flex;
        align-items: center;
        width: 20%;
    }

    #textSection{
        padding: 2%;
        width: 30vw;
        min-height: 22vw;
        margin: unset;
    }

    #textSection p{
        font-size: 30px;
    }

    #textSection h3{
        font-size: 30px;
    }
    
    .slideShowSection{
        width: 30vw;
        padding: 2%;
        min-height: 22vw;
        margin: unset;
    }

    .slideShowSection h3{
        font-size: 30px;
    }

    .toucanImage{
        width: 55%;
    }

    .readMore{
        font-size: 30px;
        width: 160px;
    }
}